# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Django
media/
staticfiles/

# Node
node_modules/
frontend/node_modules/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store